@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

:root{
    font-family: 'Manrope', sans-serif;
    --primary:#063082;
    --secondary:#FF5C46;
    --gray:#EEEFF4;
}

body{
    display: grid;
    grid-template-columns: 1fr 4.5fr;
}

.hflex{
    display: flex;
}

#sidebar{
    background-color: var(--primary);
    grid-column: 1/2;
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: white;
}

#sidebar img{
    opacity: 0.55;
}

#sidebar img#logo{
    width: 2rem;
    margin-right: 0.5rem;
    margin-left: -0.25rem;
    opacity: 1;
}

ul{
    padding: 0;
}

ul.nav{
    display: grid;
    grid-template-columns: auto 1fr;
}

ul.nav img{
  margin-top: 0.2rem;
}

li{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}

main{
    background-color: var(--gray);
    grid-column: 2/3;
}

nav.hflex{
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem 2rem;
}

input{
    width: 78ch;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    background-color: var(--gray);
    border-radius: 4rem;
    padding: 1rem;
    height: 2rem;
}

.icon{
    width: 1.3rem;
    margin-right: 1rem;
}

.profilepic{
    border-radius: 100rem;
    border: 2px solid rgba(0, 0, 0, 0.03);
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
    background-size: 105%;
    background-position: top center;
    background-repeat: no-repeat;
}

div.profilepic.self{
    background-image: url(assets/profilepics/animal_hamster.png);
    background-color: yellowgreen;
}

.profilepic#big{
    width: 4rem;
    height: 4rem;
}

button{
    background-color: var(--primary);
    border-radius: 5rem;
    padding: 0.7rem;
    width: 13ch;
    border: none;
    font-weight: 700;
    color: white;
    margin-right: 1rem;
}

button:last-of-type{
    margin-right: 0;
}

#main-cont{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    margin: 2rem;
}

.section-title{
    margin-bottom: 0.5rem;
}

#projects{
    grid-column: 1/2;
    grid-row: 1/3;
}

#project-cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.card-cont{
    background-color: white;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 0.5rem 1fr;
}

.color-bar{
    background-color: var(--secondary);
    border-radius: 1rem 0rem 0rem 1rem;
}

.card{
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 6.77fr 1fr;
}

.card img:last-of-type{
    margin-right: 0;
}

p.title{
    font-weight: 700;
}

.footer img:first-of-type{
    margin-left: auto;
}

#announcements{
    grid-column: 2/3;
    grid-row: 1/2;
}

.long-card{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}

.long-card,.card-cont{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}

#trending{
    grid-column: 2/3;
    grid-row: 2/3;
}

div.user{
    margin-bottom: 1rem;
}

div.user:last-of-type{
    margin-bottom: 0;
}

p.user{
    opacity: 0.6;
}

div.profilepic#user-a{
    background-image: url(assets/profilepics/animal_neko.png);
    background-color: brown;
   
}

div.profilepic#user-b{
    background-image: url(assets/profilepics/animal_kuma.png);
    background-color: purple;
    
}

div.profilepic#user-c{
    background-image: url(assets/profilepics/animal_usagi.png);
    background-color: steelblue;
}

p.self{
    font-weight: 700;
    line-height: 125%;
    position: relative;
    top: 0.2rem;
}

p.desc{
    opacity: 0.6;
    display: -webkit-box;
     -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

hr{
    border: 1px solid rgba(0, 0, 0, 0.135);
}